<% layout('layouts/boilerplate')%>

<% for (let module of subject.modules) { %>
    <li><a href="/admin/subjects/<%= subject._id %>/modules/<%= module._id %>"><%= module.title %></a></li>
    <form action="/admin/subjects/<%= subject._id %>/modules/<%= module._id %>?_method=PUT" method="post">
        <input type="text" name="module[title]" value="<%= module.title %>"  />
        <input type="number" name="module[marks]" value="<%= module.marks %>" />
        <button type="submit">Update</button>
    </form>
    <form action="/admin/subjects/<%= subject._id %>/modules/<%= module._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
<% } %>

<form action="/admin/subjects/<%= subject._id %>/modules" method="post">
    <input type="text" name="module[title]" placeholder="Module Title" />
    <input type="number" name="module[marks]" placeholder="Max Marks" />
    <button type="submit">Submit</button>
</form>