<% layout('layouts/boilerplate')%>

<% for (let sub of subjects) { %>
    <li><a href="/admin/subjects/<%= sub._id %>"><%= sub.title %></a></li>
    <form action="/admin/subjects/<%= sub._id %>?_method=PUT" method="post">
        <input type="text" name="subject[title]" value="<%= sub.title %>" />
        <input type="number" name="subject[maxMarks]" value="<%= sub.maxMarks %>" />
        <input type="number" name="subject[totalMarks]" value="<%= sub.totalMarks %>" />
        <button type="submit">Update</button>
    </form>
    <form action="/admin/subjects/<%= sub._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
<% } %>

<form action="/admin" method="post">
    <input type="text" name="subject[title]" placeholder="Subject Title" />
    <input type="number" name="subject[maxMarks]" placeholder="Max Marks" />
    <input type="number" name="subject[totalMarks]" placeholder="Total Marks" />
    <button type="submit">Submit</button>
</form>