<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-lg-6">
        <h2>Semester Papers</h2>
        <% for(let pattern of semPatterns) { %>
            <li><a href="/subjects/<%= subject._id %>/patterns/<%= pattern._id %>"><%= pattern.title %></a></li>
        <% } %>

        <h2>Unit Papers</h2>
        <% for(let pattern of unitPatterns) { %>
            <li><a href="/subjects/<%= subject._id %>/patterns/<%= pattern._id %>"><%= pattern.title %></a></li>
        <% } %>
    </div>
</div>