<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-lg-6">
        <h2>Semester Papers</h2>
        <% for(let pattern of semPatterns) { %>
            <li><a href="/subjects/<%= subject._id %>/patterns/<%= pattern._id %>"><%= pattern.title %></a></li>
        <% } %>

        <h2>Unit Papers</h2>
        <% for(let pattern of unitPatterns) { %>
            <li><a href="/subjects/<%= subject._id %>/patterns/<%= pattern._id %>"><%= pattern.title %></a></li>
        <% } %>
    </div>
</div>

<div class="row">
    <div>
        <h3>Semester Papers</h3>
        <div>
            <h6>Semester 1</h6>
            <p>Q1 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>Q2 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q3 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q4 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q5 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q6 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>
        </div>
        <hr>
        <div>
            <h6>Semester 2</h6>
            <p>Q1 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>Q2 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q3 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q4 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q5 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q6 Attempt All</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>
    <div>
        <h3>Unit Tests</h3>
        <h6>Unit Test 1</h6>
        <p>Q1 Attempt 5 from 6</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>Q2 Attempt Any 1</p>
            <ol>
                <li></li>
                <li></li>
            </ol>

            <p>Q3 Attempt Any 1</p>
            <ol>
                <li></li>
                <li></li>
            </ol>
            <hr>
            <h6>Unit Test 2</h6>
        <p>Q1 Attempt 5 from 6</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>Q2 Attempt Any 1</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <p>Q3 Attempt Any 1</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
            </ol>
    </div>
</div>